.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 20px;
    height: 100vh;
}

.buttons{
    flex-direction: row;
    gap: 100px;
    border-radius: 10px;
}

.searchbar{
    width: 80vw;
    height: 3vh;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}